body {
    color: #4f6fad;
    font-family: 'Open Sans', sans-serif;
    font-stretch: expanded;
}

#welcome-card {
    /* width: 50vh; */
    width: 500px;
    height: 450px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px 2px grey;
}

#keyword, #location {
    width: 100%;
}

#welcome-message {
    color: white;
    font-size: 1em;
    height: 110px; 
    width: 500px; 
    /* margin: auto; */
    background-image: url('https://csci571.com/hw/hw6/images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
    background-position-y: bottom;
}

.required {
    color: rgb(213, 45, 45);
}

form {
    padding: 0 30px 20px 30px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: left bottom;
}

button {
    display: inline-block;
    color: white;
    border: none;
    padding: 15px 28px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 1rem;
}

#submit-button {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #384d78 0 -5px 0 inset;
    background-color: #4f6fad;
    transition: 0.3s background ease;

}

#clear-button {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fa8500 0 -5px 0 inset;
    background-color: #ffb705;
    transition: 0.3s background ease;
}

button:hover, button:focus {
    filter: brightness(90%);
}

button:focus {
    border: 1px solid black;
}

input, select {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

label {
    display: block;
    padding:0.25rem 0;
    margin-top: 0.5em;
}

