body {
    color: #4f6fad;
    font-family: 'Open Sans', sans-serif;
    font-stretch: ultra-expanded;
}

h1 {
    font-size: 20px;
}

#welcome-card {
    width: 500px;
    height: 480px;
    margin: 20px auto;
    box-shadow: 0px 0px 5px 2px grey;
}

#keyword,
#location {
    width: 422px;
}

#distance {
    align-items: flex-end;
    margin-right: 24px;
}

.banner {
    height: 110px;
    width: 500px;
    background-image: url('https://csci571.com/hw/hw6/images/banner.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    resize: both;
    background-position-y: bottom;
}

#banner-text {
    color: white;
    position: relative;
    top: 20px;
    left: 30px;
}

.required {
    color: rgb(213, 45, 45);
}

.row {
    margin-top: 10px;
}

#row4 {
    display: flex;
}

#row2 {
    columns: 2;
}

#category {
    width: 212px;
}

#column1 {
    position: relative;
    width: 50%;
    align-self: stretch;
}

#column2 {
    position: relative;
    width: 50%;
    text-align:start;
} 


form {
    padding: 5px 30px 20px 30px;
}

hr {
    height: 1px;
    background-color:#4f6fad;
    border: none;
}

button {
    display: inline-block;
    color: white;
    border: none;
    padding: 13px 22px;
    text-transform: uppercase;
    font-weight: lighter;
    margin-top: 1rem;
}

#submit {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #384d78 0 -5px 0 inset;
    background-color: #4f6fad;
}

#clear {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #fa8500 0 -5px 0 inset;
    background-color: #ffa305;
}

button:hover,
button:focus {
    filter: brightness(80%);
}

button:focus {
    border: 1px solid black;
}

input,
select {
    border: 1px solid #ccc;
    padding: 0.5rem;
}

label {
    display: block;
    padding: 0.25rem 0;
}

p {
    margin-top: 20px;
}

table {
    text-align: center;
    width: 1000px;
    margin: auto;
    border-collapse: collapse;
    padding: 8px;

    /* table-layout: auto; */
}

th {
    font-weight: bold;
    background-color: #4f6fad;
    color: white;
}

th,
td {
    border: 1px solid silver;
}

td {
    color: black;
}

#no-record {
    text-align: center;
    border: 1px solid silver;
    background-color: white;
    /* position: relative; */
    margin: auto;
}

a {
    text-decoration: none;    
    color: black;
}

a:hover{
    text-decoration: none;    
    color: grey;
}


iframe {
    display: block;
    /* iframes are inline by default */
    border: none;
    /* Reset default border */
    height: 100vh;
    /* Viewport-relative units */
    width: 100vw;
    display: none;
}